<ion-view view-title="Currencies">
    <ion-content>

        <div class="row row-purple-gradient currencyPurpleGradient">
            <div class="col">
                <p class="co-light sub-titles bottom-text text-center">Popular Currency Rates</p>
            </div>
        </div>
        <div class="row row-padding">
            <div class="col col-50">
                <p class="mini-titles text-center">Currency</p>
            </div>
            <div class="col col-50">
                <p class="mini-titles text-center">Rate</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <ul>
                    <li ng-repeat="currency in currencies">
                        <p class="grey-text text-center">{{currency.name}} </p>
                    </li>
                </ul>
            </div>
            <div class="col col-50">
                <ul>
                    <li ng-repeat="currency in currencies">
                        <p class="light-grey-text text-center">{{currency.rates}}</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row row-purple-gradient currencyPurpleGradient">
            <div class="col">
                <p class="co-light big-titles bottom-text big-text-vertical-align text-center">Currency Converter
                </p>
            </div>
        </div>
        <div class="row row-padding">
            <div class="col space-padding-lg"></div>
            <div class="col col-50">
                <p class="mini-titles text-center">From Currency</p>
            </div>
            <div class="col col-50">
                <p class="mini-titles text-center">To Currency</p>
            </div>
        </div>

        <div class="row">
            <div class="col ">
                <form name="currencyForm" novalidate>
                    <div class="row">
                        <div class="form-group col col-50">
                            <select class="form-control center" id="sFromCur" name="sFromCur" ng-model="currency.from" ng-options="coin for coin in coins" ng-init="currency.from = coins[0]">
                      </select>

                        </div>
                        <div class="form-group col col-50">
                            <select class=" center" id="sToCur" name="sToCur" ng-model="currency.to" ng-options="coin for coin in coins" ng-init="currency.to = coins[0]">
                          <option selected value="default">Choose here</option>
                      </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col col-50">
                            <p class="co-light purple-labels text-center">Amount</p>
                            <input class="form-control center" type="number" id="nfromAmount" name="nfromAmount" ng-model="currency.fromAmount">
                        </div>
                        <div class="form-group col col-50">
                            <p class="co-light purple-labels text-center">Amount</p>
                            <input class="form-control center" type="number" id="ntoAmount" name="ntoAmount" ng-model="currency.toAmount" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <button id="bConvert " class="button button-sm btn-block button-purple-clear waves-effect waves-light " ng-disabled="currencyForm.nfromAmount.$pristine || currencyForm.nfromAmount.$invalid" ng-click="convert()">Convert!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>