<ion-view view-title="Search">
    <ion-content>
        <div class="row row-purple-gradient currencyPurpleGradient">
            <div class="col">
                <p class="co-light sub-titles bottom-text text-center">Learn</p>
            </div>
        </div>
        <div class="card card-outline-primary" id="definitionCard">
            <div class="item item-divider" id="defCardTitle">
                <h2 class="co-light cardTitle">Definitions</h2>
            </div>
            <ul class="ul-card">
                <li ng-repeat="tip in tips | filter: {category: 'Definitions'} : true">
                    <div class="col-xs-12">
                        <p class="light-grey-text text-left justified"><span class="grey-text">{{tip.topic}}</span> {{tip.description}}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col"></div>
        </div>
        <div class="card card-outline-primary" id="formulaCard">
            <div class="item item-divider" id="forCardTitle">
                <h2 class="co-light cardTitle">Formulas</h2>
            </div>
            <ul class="ul-card">
                <li ng-repeat="tip in tips | filter: {category: 'Formula'} : true">
                    <div class="col-xs-12">
                        <p class="light-grey-text text-left"><span class="grey-text">{{tip.topic}}</span></p>
                        <p class="text-center katex-text">
                            <katex bind="tip.description"></katex>
                        </p>
                    </div>
                </li>
                <div class="col-xs-12 space-padding-mid"></div>
            </ul>
        </div>
    </ion-content>
</ion-view>