<ion-view view-title="Home">
    <ion-content>
        <div class="headerBackground">
            <div class="row">
                <div class="col col-bottom">
                    <h1 class="landing-header text-center">Control your money</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="../img/Begin.png" href="#" onclick="window.open('https://finance-tracker-front.herokuapp.com/', '_system', 'location=yes'); return false;"  class="center hvr-grow" id="begin" alt="Grow">
                </div>
            </div>

        </div>
        <div class="col">
            <div class="row icon-row-height">
                <div class="col ">
                    <img src="../img/Grow.png" class="center hvr-buzz-out" id="grow" alt="Grow">
                </div>
            </div>
            <div class="row row-purple-gradient landingPurpleGradient">
                <div class="col">
                    <p class="text-center icon-title">Track Your Budget</p>
                    <p class="text-center icon-descp">Keep and check the
                        <br> trace of your income vs
                        <br> spendings.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row icon-row-height">
                <div class="col">
                    <img src="../img/Transform.png" class="center hvr-buzz-out" id="transform" alt="Transform">
                </div>
            </div>
            <div class="row row-purple-gradient landingPurpleGradient">
                <div class="col">
                    <p class="text-center icon-title">Money Exchange</p>
                    <p class="text-center icon-descp">See how currencies are
                        <br> changing in the world.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row icon-row-height">
                <div class="col">
                    <img src="../img/Learn.png" class="center hvr-buzz-out" id="learn" alt="Learn">
                </div>
            </div>
            <div class="row row-purple-gradient landingPurpleGradient">
                <div class="col">
                    <p class="text-center icon-title">Financial Learning</p>
                    <p class="text-center icon-descp">Check out tips to
                        <br> get to know how the
                        <br> financial world works.</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>