<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-royal blue-bar co-heavy" style="color:#fff !important">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-positive purple-bar">
            <h1 class="title co-heavy">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-item menu-close href="#/app/home" class="co-light">
                Home
            </ion-item>
            <ion-list>
                <ion-item menu-close href="#/app/glossary" class="co-light">
                    Financial Glossary
                </ion-item>
                <ion-item menu-close href="#/app/currency" class="co-light">
                    Currency Tracker
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>